@model LocalPasswordModel

<h3>Change password</h3>

<div class="container-fluid">

    @using (Html.BeginForm("Manage", "Account"))
    {
        <div class="row-fluid">
            <div class="span12">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 control-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 control-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 control-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <input type="submit" class="k-button" value="Change password" />
            </div>
        </div>
    }
</div>
